                        <div class='message my'>
                            <div class='name'>
                                <%= message.user.username %>:
                            </div>
                            <div class='text'>
                                <%= message.body%>
                            </div>
                        </div>