.navbar {
    color: black;
    background-color: royalblue;
}

.nav-link, .navbar-brand{
    color:white;
    text-decoration: none;
}

.margin {
    margin: auto 10px;
    display: flex;
    justify-content: space-between;
}

@import '~bootstrap/scss/bootstrap';